body{background: #F60}
header{background: #01a279}
.logo{text-align: center;display: inline-block;margin-top: 1px; color: #617073}
.glyphicon-book{width: 25px; height: 25px; font-size: 50px}
.ltext{vertical-align: 50%;font-size: 25px; padding-left: 50px }
.menu{font-size: 17px; }